/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v11-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-700 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/manrope-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v11-latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-800 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/manrope-v11-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v11-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v11-latin-800.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  html{
    box-sizing: border-box;  

  }
 *,*::before,*::after{
     box-sizing: inherit;
     transition: .5s ease-in-out;
 }

 body{
    font-family: 'manrope', sans-serif;
    font-size: 0.83rem;
    background:#171A21; 
    color: #ECEFF4;
}
.container{
    max-width: 92.44rem;
    align-items: center;
    padding-left: 4.16rem;
    padding-bottom: 3.31rem;
}

.header{
    align-items: center;
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
    background-color:#171A21;
    padding: 1.05rem 0;
    width: 100%;
 }
 .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .header_logo{
     width: 2.5rem;
     align-items: center;
     margin-right: .83rem;
 }
 .header_title{
     display: inline-block;
     font-size: .83rem;
     font-weight: 800;
     text-transform: uppercase;
     margin-right: 1.04rem;
     width: 3.3rem;
     line-height: 1.14rem;
 }
 .header_search{
     background:  #0D1017;
     border: none;
     padding: .83rem;
     font-size: .74rem;
     width: 15.5rem;
     border-radius: 5px;
     color: #ECEFF4;
 }
 .header_search::placeholder{
    color: #FFF;
    opacity: .2;
}
 nav{
     display: flex;
     align-items: center;
 }
 .header_nav-link{
opacity: .4;
font-size: .83rem;
margin-right: 2.92rem;
transition: .2s;
color:  rgba(236, 239, 244, 0.4);;
text-decoration: none;
}
.header_user{
    width: 2.91rem;
    margin-right: 0.83rem;
}
.header_nav-link:hover, .button_exit-title:hover {
    color: #ECEFF4;
}
 
 .button_exit{
     cursor: pointer;
  display: flex;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: .9rem .83rem;
 } 
 .button_exit-title{
     font-size: .83rem;
     opacity: .5;
     color: rgba(236, 239, 244, 0.4);
 }
 .button_exit-icon{
     width: 1.25rem;
     margin-right: .4rem;
 }

.main{
    padding-top: 3.54rem;
}
/*start game Death Stranding*/
.Death_Stranding_game{
    width: 100%;
    padding-top: 3.54rem;
    display: flex;
    justify-content: space-between;
    margin:0 auto;

}
.text_game{
    padding-right: 5rem;
    text-align: left;
    padding-top: 1.04rem; 
    width: 39.42rem;
}
.button_game{
 margin-top: 1.87rem;
 display: inline;
 margin-right: 0.83rem;
 background: transparent;
 color: rgba(255, 255, 255, 0.5) ;
 border: 0.5px rgba(255, 255, 255, 0.5) solid;
 border-radius: 0.31rem;
 padding: 0.83rem;
}
.button_selection-title{
    padding-left: 0.75rem;
}
.button_buy{
margin-bottom: 2.18rem;
}
.buy_game{
    color: #FFFFFF;
    padding: 0.83rem;
    border-radius: 0.31rem;
    border:  0 ;
    height: 2.5rem;
    align-items: center;
    margin-right: 0.83rem;
    background: linear-gradient(0deg, #4825D2, #4825D2);
}
.path{
    color: rgba(236, 239, 244, 0.4);
    font-size:1.25rem;
    line-height: 1.25rem;}
    h1{
        padding-top: 1.87rem;
        font-weight: bold;
        font-size: 3.75rem;
        line-height:4.58rem;
    }
   .description_game{
   
     padding-top: 1.87rem;
    color: #ECEFF4;
    opacity: 0.6;
    font-size:1.25rem;;
    line-height: 2rem;
    width: 30.88;
    }
.prise_serh{
    padding-top: 1.14rem; 
    width: 100%;  
    }
    .prise_sale{
        font-weight: bold;
        font-size:2.5rem;
        padding-right: 1.68rem;
        line-height: 4.18rem;
       }
       .prise{
       width: 5.15rem;
       border: 0 solid;
       background:#0D1017 ;
       border-radius: 5px;
       padding: 0.83rem;
       text-decoration-line: line-through;
       color: rgba(255, 255, 255, 0.4);
       }
       .discount{
        width: 3.07rem;
        border: 0;
        padding: 0.75rem;
        background: linear-gradient(180.46deg, #F15C3C 0.39%, rgba(72, 37, 210, 0.8) 102.92%);
        border-radius: 5px;
       }
    
.picture_carousel{
    margin:0 auto;
    width: 53.02rem;
}
.picture{
   width:53.02rem;
   height: 29.84rem;
}
.carousel{
 padding-top: 3.12rem;
 display: inline-flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 width:53.43rem;

}
.arrow{
    background: rgba(255, 255, 255, 0.05);
    border: 0;
    border-radius: 31.25rem;
}
.game_riviews{
    width: 12.29rem;
}


/*текст на одной линии*/
.saletitle{
    color: white;
    font-weight: bold;
    font-size: 2.08rem;
    line-height: 2.5rem;
 }
.sale_see{ 
   padding-top:4.16rem;
   display: flex;
   align-items: center;
justify-content: space-between;
 width: 92.44rem; 
padding-bottom:0.94rem;
}
.see{
    text-decoration: none;
    font-weight: normal;
    font-size:1.5rem;
    line-height: 3rem;
    color: rgb(89, 33, 153);
    
}

/* Game Cards*/
.gamecards{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap:2.31rem; 
   width: 92.44rem; 
}
.gamecard{
    position: relative; 
    width: 100%; 
}

.game_card::after{
   display: block;
   content: '';
   width: 100%;
   height: 100%;
}

.text{
    color: white;
    text-decoration: none;
    text-align: right;   
}
.title_price{
    position: absolute;
    bottom:1.61rem;
    right: 1.93rem;
   font-size: 1.25rem;
   line-height: 1.25rem;
}
.game_card_title{
    position: absolute;
    bottom: 3rem;
    right: 1.56rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height:2.44rem;
}
   .gamecard-pic{
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }  

footer { 
   background: #0D1017;
   padding: 2.2rem 0;
   height: 6.7rem;
}
.footer-item{
    display: flex;
   justify-content: space-between; 
}
.footer_title{
    font-size: .83rem;
   color:  #FFFFFF;
   font-weight: 600;
}
.a_title{
text-decoration: underline;
}
@media screen and (max-width: 768px){
    html{
        font-size: 2vw;
    }
    .container{
        width: 45.4rem;
    }
    .header__item{
        display: none;
        cursor: pointer;
    }
    .menu{
        width: 4rem;
        height: 6px;
        background: #FFF;
        opacity: .2;
        border-radius: 5px;
        position: relative;
    }
    .menu::before,.menu::after{
        content: '';
        position: absolute;
        left: 0;
        width: 4rem;
        height: 6px;
        background: #FFF;
        opacity: .2;
        border-radius: 5px;
    }
    .menu::before{
        top: -.9rem;
    }
    .menu::after{
        top: .9rem;
    }
    .gamecards{
        grid-template-columns:repeat(1, 1fr);
        width: 100%;
    }
    .picture_carousel{
        width: 100%;
    }
    .gamecard{
        width: 100%;
    }
 
    .sale_see{
        width: 43.12rem;
    }
   
    .Death_Stranding_game{
     display: block;
    }
     
     .text_game{
         width: 100%;}
     .picture{
         width: 100%;
     }
     .carousel{
         width: 100%;
        
     }
     .game_riviews{
         width: 9.75rem;
     }
     .footer{
        width: 100%;
    }
    .footer-item{
    width: 45.4rem;
    }
    
}